<div class="headColumns">
	<div class="headContainer">
			
			<div ng-click="newPostClick=!newPostClick" ng-show="!newPostClick" class="makeNewPost">
				<h3>Make New Post</h3>
			</div>
			
			<div ng-show="newPostClick" class="newPostContainer">
				<mx-new-post></mx-new-post>
			</div>
		
	</div>
</div>


<div class="centerCatalog">
	<div class="catalogThreadsContainer">
		<ul class="catalogThreads">
			<div ng-repeat="thread in threads">
				<mx-thread-preview></mx-thread-preview>
			</div>
		</ul>
	</div>
</div>