body {
	background-color:yellow;
}

li.active {
    color:purple;
}

li#navbar_links {
    border-radius: 25px;
    color:red;
    font-size:18px;
}

.navbar-brand {
	font-size:20px;
}

.navbar-controller {
	min-width: 1000px;
}

.navbar-default {
    padding:0px;
    margin: 0 0 3px 0;
    background-color: red;
    border-color: #E7E7E7;
    border-radius: 25px;
}

.headColumns {
	margin-top:10px;
	text-align:center;
}

.headContainer{
	padding:10px;
	background-color:black;
	min-height:100px;
	display:inline-flex;
	column-span:2-3;
}

.newPostContainer{
	float:left;
}

.makeNewPost {
	color:yellow;
	background-color:pink;
	padding:10px;
	height:70px;
	width:400px;
	margin-bottom:10px;
	display:flex;
}


/*.centerCatalog {
	text-align:center;
	margin:0 auto;
	width:97%;
}
*/

.catalogThreadsContainer {
	text-align:center;
	min-width:800px;
}


ul.catalogThreads {
	margin-right:40px;
	columns:4;
	column-width:300px;
	column-gap:0px
	column-fill:balance;
}

.threadPreview {
	background-color: white;
	width:270px;
	height:270px;
	min-width:270px;
	min-height:270px;
	margin-top:30px;
	border-style:solid;
	border-width:2px;
	border-color:grey;
	display:inline-block;
	outline:0px;
	border-radius: 18px;
}

.threadPreviewContent {
	padding:15px;

}

.previewTitle {
	font-size:20px;
}

.previewPostTime {
	font-size:15px;
  color:rgb(23, 25, 28);
  background-color:rgb(248, 255, 251);
}

.summaryContainer {
	text-align:center;
	margin:0 auto;
	padding:5px;
}

.previewSummary {
	font-size:12px;
	width:200px;
	padding:3px;
	background-color:lightgrey;
}

.previewAuthor {
	font-size:13px;
}

.textEntry {
	width:400px;
	height:150px;
	max-width: 400px;
	max-height:150px;
	padding:10px;
}

.newPost {
	width:500px;
	height:200px;
	background-color:lightgrey;
	padding:20px;
	border-style:solid;
	border-color:yellow;
	margin:10px;
}

.submitPost {
	float:right;
}



